@font-face {
  font-family: Roboto;
  src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Archivo;
  src: url(Archivo/static/Archivo/Archivo-Light.ttf);
}
